@import '@fontsource/jaro';
@import '@fontsource/zen-maru-gothic';
@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/pagination';

.swiper-pagination-bullet {
  background: #808080 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
}
@theme {
  --font-zenmaru: 'Zen Maru Gothic', sans-serif;
  --font-jaro: 'Jaro', system-ui;
}

.text-stroke-red {
  color: #fff;
  text-shadow:
    2px 2px 1px #e93a3a,
    -2px 2px 1px #e93a3a,
    2px -2px 1px #e93a3a,
    -2px -2px 1px #e93a3a,
    2px 0px 1px #e93a3a,
    0px 2px 1px #e93a3a,
    -2px 0px 1px #e93a3a,
    0px -2px 1px #e93a3a;
}

.text-stroke-white {
  color: #e93a3a;
  text-shadow:
    2px 2px 1px #fff,
    -2px 2px 1px #fff,
    2px -2px 1px #fff,
    -2px -2px 1px #fff,
    2px 0px 1px #fff,
    0px 2px 1px #fff,
    -2px 0px 1px #fff,
    0px -2px 1px #fff;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slideInLeft 2s ease-out forwards;
}
.animate-slide-in-right {
  animation: slideInRight 2s ease-out forwards;
}
