---
import ResizeableBox from '../components/ResizeableBox.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
const pagetitle = '連絡先'
---

<Layout pagetitle={pagetitle}>
  <body class="bg-white text-red-600">
    <main class="max-w-7xl mx-auto px-6 py-12">
      <p class="w-[95%] font-[Jaro] text-8xl text-[#E93A3A] mb-8">A B O U T</p>

      <div class="flex flex-row flex-wrap md:flex-row mb-4">
        <img
          src="/ex1.png"
          alt="Description of image 1"
          class="rounded-sm shadow-lg w-3/8 object-cover m-4"
        />
        
          <div class={"bg-red-500 text-white rounded-2xl shadow-lg font-zenmaru w-4/7 ml-auto my-4"}>
            <h3> 概要</h3>
            <p> 筑波大学広島県人会は、広島にゆかりがある学生が集まった筑波大学公認一般学生団体です。</p>
            <p>学園祭での広島お好み焼きの出店を始めとして、カープ観戦やご飯会など学年の壁を越えて活動を行っています。</p>
            <p>故郷から遠く離れた地で、共通の要素を持った仲間がいるというのは貴重で心強いことです。</p> 
            <p>その中でも様々なバックグラウンドを持った人達が集まっており、多種多様な活動が行われているのが広島県人会の面白いところです。</p>
          </div>
          
      
      </div>

      <div class="flex flex-row flex-wrap md:flex-row mb-4">
         <div class={"bg-red-500 text-white rounded-2xl shadow-lg font-zenmaru w-1/3 mr-auto my-4"}>
          <p>学園祭では、広島の魅力を多くの人に広めるべく広島名物の出店を行っています。近年はオタフク様のご協賛をいただきながら広島お好み焼きを提供しており、数多くの企画の中で随一の盛り上がりを見せています。</p>
          <p>学園祭は広島県人会の一大イベントです。約1か月前から、テント内の人員配置や作り方の説明会を開き、直前には大学近くのお好み焼き屋さんの鉄板をお借りして皆で焼き方の練習をします。</p>
          <p>当日は行列が絶えず慌ただしくもなりますが、練習の成果を発揮してたくさんの方にお好み焼きを提供し、美味しいという反応をいただいた時は大変なことも忘れるほど嬉しいです。</p>
          <p>1000食以上の売り上げも達成し、長蛇の列にも関わらず食べに来てくださる方、現地やSNSで感想をくださる方には感謝しかありません！</p>
          <p>最後に、筑波大学学園祭に訪れる方は、ぜひ広島県人会のブースにお越しください！</p>
         </div>
        <img src="/ex1.png" class="rounded-2xl shadow-lg  object-cover w-5/8 my-4" />
      </div>

      <div class="flex flex-col md:flex-row gap-8">
        <img src="/ex1.png" class="rounded-2xl shadow-lg w-4/11 object-cover" />
        <img src="/ex1.png" class="rounded-2xl shadow-lg w-7/12 ml-auto object-cover" />
      </div>
    </main>
  </body>
</Layout>
