---
import ContactCard from '../components/ContactCard.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
const pagetitle = '連絡先'
---

<Layout pagetitle={pagetitle}>
  <body class="bg-white text-red-600">
    <main class="max-w-7xl mx-auto px-6 py-12">
      <p class="w-[95%] font-[Jaro] text-6xl text-[#E93A3A] mb-8 md:text-8xl">C O N T A C T</p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-100">
        <ContactCard title="Twitter" link="https://x.com/hiroshima_tkb" name="mdi:twitter" />
        <ContactCard title="Instagram" link="https://www.instagram.com/p/DQVu74nksQO/" name="mdi:instagram" />
        <ContactCard title="Mail" link="kenjinkai.hiroshima@gmail.com" name="mdi:email" />
      </div>
    </main>
  </body>
</Layout>
