---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
const pagetitle = '連絡先'
---

<Layout pagetitle={pagetitle}>
  <body class="bg-white text-red-600">
    <main class="max-w-6xl mx-auto px-6 py-12">
      <p class="w-[85%] font-[Jaro] text-8xl text-[#E93A3A] mb-8">G O O D S</p>
      <p class="w-[85%] font-[Jaro] text-2xl text-[#E93A3A] mb-8">coming soon...</p>
    </main>
  </body>
</Layout>
