---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import GoodsDesign from '../components/GoodsDesign.astro'
const pagetitle = 'グッズ'
---

<Layout pagetitle={pagetitle}>
  <body class="bg-white text-red-600">
    <main class="max-w-7xl mx-auto px-6 py-12">
      <p class="w-[95%] font-[Jaro] text-6xl text-[#E93A3A] mb-8 md:text-8xl">G O O D S</p>
      <p class="text-center">
        <a href="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/products?sort=sales" class="inline-block">
          <button
            class="font-zenmaru font-bold text-3xl text-[#E93A3A] mb-8 md:text-5xl
          bg-white relative rounded-xl px-2
          hover:text-white hover:bg-[#E93A3A] hover:text-white
          after:content-[''] after:absolute after:left-1/2 after:mt-2 after:bottom-[-6px] after:w-[90%] after:h-[6px] after:bg-[#E93A3A] after:translate-x-[-50%]
          hover:after:opacity-0"
          >
            <div class="px-2 py-1">ショップを見る</div>
          </button>
        </a>
      </p>
      <br />
      <div
        class="text-center w-[95%] mx-auto font-zenmaru font-bold text-4xl text-[#E93A3A] mb-8 md:text-6xl leading-none"
      >
        デザイン一覧
      </div>
      <div class="flex flex-wrap justify-center">
        <div class="w-full sm:w-1/2 md:w-1/3 p-4">
          <div class="rounded-2xl shadow-lg overflow-hidden bg-white">
            <img src="/goods_1.png" alt="画像1" class="w-full aspect-[4/3] object-contain" />
            <div class="bg-[#E93A3A] font-zenmaru text-white text-sm p-4">
              <p>
                広島県人会の活動のイメージをポップなキャラクターとして表現。筑波大学校章の「五三の桐」・広島名物もみじ饅頭を持っていたり、学園祭で広島お好み焼きの提供をする様子も。背景には広島県のシルエットを配置した。筑波の紫、広島の赤をメインに用いて、筑波と広島が融合したようなデザインになっている。
              </p>
              <br />
              <span class="font-bold">販売グッズ</span>
              <p>
                <a
                  href="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19129953/face-towel/free/white"
                  class="hover:underline decoration-white">・フェイスタオル</a>
              </p>
              <p>
                <a
                  href="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130169/mug/m/white"
                  class="hover:underline decoration-white">・マグカップ</a>
              </p>
              <p>
                <a
                  href="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130322/clear-file-folder/a4/clear"
                  class="hover:underline decoration-white">・クリアファイル</a>
              </p>
              <p>
                <a
                  href="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130322/tote-bag/m/natural"
                  class="hover:underline decoration-white">・トートバッグ</a>
              </p>
            </div>
          </div>
        </div>

        <GoodsDesign
          sentence="広島といえば！のお好み焼きをベースに広島のシンボルとつくばのシンボルをぎゅっと詰め込んだデザイン。垂れたお好みソースがHIROSHIMAの文字を作っているよう繋がり・揺らぎのある描き方とした。「A」の三角部分がハートになっているのもポイント。"
          number="2"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19129783/t-shirt/s/white"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19129783/heavyweight-t-shirt/l/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19129998/tote-bag/m/natural"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130008/sticker/m/white"
          goods1="スタンダードTシャツ"
          goods2="ヘビーウェイトTシャツ"
          goods3="トートバッグ"
          goods4="ステッカー"
        />

        <GoodsDesign
          sentence="広島の象徴である「厳島神社」を表現。その形状の中に文字を配した、タイポグラフィカルなデザインとなっている。 静謐な光が満ちる「朝の宮島」、夜空を彩る華やかな「宮島花火大会」。広島が誇る二つの美しい情景を、カラーバリエーションに落とし込んだ。"
          number="3"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130402/acrylic-keychain/50x50mm/clear"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130402/mug/m/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130402/can-badge/75mm/white"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130402/sticker/m/white"
          goods1="アクリルキーホルダー"
          goods2="マグカップ"
          goods3="缶バッジ"
          goods4="ステッカー"
        />

        <GoodsDesign
          sentence="広島の象徴である「厳島神社」を表現。その形状の中に文字を配した、タイポグラフィカルなデザインとなっている。 静謐な光が満ちる「朝の宮島」、夜空を彩る華やかな「宮島花火大会」。広島が誇る二つの美しい情景を、カラーバリエーションに落とし込んだ。"
          number="4"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130409/acrylic-keychain/50x50mm/clear"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130409/mug/m/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130409/can-badge/75mm/white"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130409/sticker/m/white"
          goods1="アクリルキーホルダー"
          goods2="マグカップ"
          goods3="缶バッジ"
          goods4="ステッカー"
        />

        <GoodsDesign
          sentence="広島の特産品であるレモンを、シンプルな幾何学形状として抽象化し、中に文字を配置したタイポグラフィカルなデザイン。蛍光感のある黄緑と水色の二色展開とすることで、レモンの持つ爽やかさや瑞々しさを強調し、ポップで色鮮やかな印象に仕上げている。"
          number="5"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130411/acrylic-keychain/50x50mm/clear"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130411/mug/m/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130411/can-badge/75mm/white"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130411/sticker/m/white"
          goods1="アクリルキーホルダー"
          goods2="マグカップ"
          goods3="缶バッジ"
          goods4="ステッカー"
        />

        <GoodsDesign
          sentence="広島の特産品であるレモンを、シンプルな幾何学形状として抽象化し、中に文字を配置したタイポグラフィカルなデザイン。蛍光感のある黄緑と水色の二色展開とすることで、レモンの持つ爽やかさや瑞々しさを強調し、ポップで色鮮やかな印象に仕上げている。"
          number="6"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130313/acrylic-keychain/50x50mm/clear"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130313/mug/m/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130313/can-badge/75mm/white"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130313/sticker/m/white"
          goods1="アクリルキーホルダー"
          goods2="マグカップ"
          goods3="缶バッジ"
          goods4="ステッカー"
        />

        <GoodsDesign
          sentence="広島県人会会員を表現。広島のソウルフードであるお好み焼きを大学祭で販売しており、その様子。"
          number="7"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130312/acrylic-keychain/50x50mm/clear"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130312/mug/m/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130312/can-badge/75mm/white"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130312/sticker/m/white"
          goods1="アクリルキーホルダー"
          goods2="マグカップ"
          goods3="缶バッジ"
          goods4="ステッカー"
        />

        <GoodsDesign
          sentence="広島県人会会員を表現。広島のソウルフードであるお好み焼きを大学祭で販売しており、その様子。"
          number="8"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130308/acrylic-keychain/50x50mm/clear"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130308/mug/m/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130308/can-badge/75mm/white"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130308/sticker/m/white"
          goods1="アクリルキーホルダー"
          goods2="マグカップ"
          goods3="缶バッジ"
          goods4="ステッカー"
        />

        <GoodsDesign
          sentence="広島県人会会員を表現。広島のソウルフードであるお好み焼きを大学祭で販売しており、その様子。"
          number="9"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130310/acrylic-keychain/50x50mm/clear"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130310/mug/m/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130310/can-badge/75mm/white"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130310/sticker/m/white"
          goods1="アクリルキーホルダー"
          goods2="マグカップ"
          goods3="缶バッジ"
          goods4="ステッカー"
        />

        <GoodsDesign
          sentence="広島県人会会員を表現。広島のソウルフードであるお好み焼きを大学祭で販売しており、その様子。"
          number="10"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130370/acrylic-keychain/50x50mm/clear"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130370/mug/m/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130370/can-badge/75mm/white"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130370/sticker/m/white"
          goods1="アクリルキーホルダー"
          goods2="マグカップ"
          goods3="缶バッジ"
          goods4="ステッカー"
        />

        <GoodsDesign
          sentence="広島県人会会員を表現。広島のソウルフードであるお好み焼きを大学祭で販売しており、その様子。"
          number="11"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130383/acrylic-keychain/50x50mm/clear"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130383/mug/m/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130383/can-badge/75mm/white"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130383/sticker/m/white"
          goods1="アクリルキーホルダー"
          goods2="マグカップ"
          goods3="缶バッジ"
          goods4="ステッカー"
        />

        <GoodsDesign
          sentence="広島県人会会員を表現。広島のソウルフードであるお好み焼きを大学祭で販売しており、その様子。"
          number="12"
          link1="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130375/acrylic-keychain/50x50mm/clear"
          link2="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130375/mug/m/white"
          link3="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130375/can-badge/75mm/white"
          link4="https://suzuri.jp/Hiroshima_kenjinkai_UnivTsukuba/19130375/sticker/m/white"
          goods1="アクリルキーホルダー"
          goods2="マグカップ"
          goods3="缶バッジ"
          goods4="ステッカー"
        />
      </div>
    </main>
  </body>
</Layout>
