---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
const pagetitle = '筑波大学広島県人会'
---

<Layout pagetitle={pagetitle}>
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center flex-col items-center">
      <img src="/mainpic.png" class="w-[85%] hidden md:block" />

      <p class="w-[85%] md:hidden font-[Jaro] text-5xl text-[#E93A3A] text-center">TSUKUBA UNI</p>
      <img src="/mobile_mainpic.png" class="w-[85%] md:hidden" />
      <p class="w-[85%] md:hidden font-[Jaro] text-5xl text-[#E93A3A] text-center">HIROSHIMA</p>
      <p class="w-[85%] md:hidden font-[Jaro] text-5xl text-[#E93A3A] text-center">KENZINKAI</p>
    </div>

    <div class="w-[80%] flex flex-col items-center justify-center bg-[#E93A3A] mt-4 rounded-4xl">
      <h2 class="md : font-[Jaro] justify-center text-white text-4xl md:tracking-wider md:my-12 md:text-7xl">ABOUT</h2>

      <div class="flex flex-col md:flex-row w-full px-16">
        <div class="hidden md:w-2/5 md:block">
          <img src="/test.png" class="object-contain h-auto w-full mb-8" />
        </div>
        <div class="md:hidden w-full mb-8">
          <img src="/mobiletest.jpg" class="object-contain h-auto w-full" />
        </div>

        <div
          class="flex-col text-white tracking-wider w-full md:w-3/5 mx-0 my-0 text-sm md:text-xl md:leading-loose md:mx-12 md:my-8"
        >
          <p>国境の長いトンネルを抜けると雪国であった。夜の底が白くなった。信号所に汽車が止まった。</p>
          <p>
            向側の座席から娘が立って来て、島村の前のガラス窓を落した。雪の冷気が流れこんだ。娘は窓いっぱいに乗り出して、遠くへ呼ぶように、
          </p>
          <p>「駅長さあん、駅長さあん」</p>
          <p>明りをさげてゆっくり雪を踏んで来た男は、襟巻で鼻の上まで包み、耳に帽子の毛皮を垂れていた。</p>

          <div class="items-end">
            <h3 class="font-[Jaro] text-right text-4xl">MORE…→</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
