---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
---

<Layout>
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center">
      <img src="/mainpic.png" class="w-[60%]" />
    </div>

    <div class="w-[80%] flex flex-col items-center justify-center bg-[#E93A3A] mt-4 rounded-4xl">
      <h2 class="my-12 font-[Jaro] justify-center text-7xl text-white tracking-wider">ABOUT</h2>
      <div class="flex">
        <img src="/test.png" class="mx-16 mb-16" />
        <!--  写真は縦長のものを用意してください -->
        <div class="flex flex-col text-white text-xl mr-16 my-16 tracking-wider">
          <p>国境の長いトンネルを抜けると雪国であった。夜の底が白くなった。信号所に汽車が止まった。</p>
          <p>
            向側の座席から娘が立って来て、島村の前のガラス窓を落した。雪の冷気が流れこんだ。娘は窓いっぱいに乗り出して、遠くへ呼ぶように、
          </p>
          <p>「駅長さあん、駅長さあん」</p>
          <p>明りをさげてゆっくり雪を踏んで来た男は、襟巻で鼻の上まで包み、耳に帽子の毛皮を垂れていた。</p>
          <p>
            もうそんな寒さかと島村は外を眺めると、鉄道の官舎らしいバラックが山裾に寒々と散らばっているだけで、雪の色はそこまで行かぬうちに闇に呑まれていた。
          </p>
          <p>「駅長さん、私です、御機嫌よろしゅうございます」</p>
          <p>「ああ、葉子さんじゃないか。お帰りかい。また寒くなったよ」</p>
          <p>「弟が今度こちらに勤めさせていただいておりますのですってね。お世話さまですわ」(330字)</p>
          <h3 class="font-[Jaro] text-right text-4xl">MORE…→</h3>
        </div>
      </div>
    </div>
  </div>
</Layout>
