---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import IndexContentCard from '../components/IndexContentCard.astro'
import GoodsCarousel from '../components/GoodsCarousel'
const pagetitle = '筑波大学広島県人会'
---

<Layout pagetitle={pagetitle}>
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center flex-col items-center w-full">
      <div
        class="relative w-[65%] hidden font-[Jaro] text-9xl text-[#E93A3A] text-stroke-white tracking-wider xl:block"
      >
        <p class="absolute top-0 left-[-20%] animate-slide-in-left">Univ. of TSUKUBA</p>
        <img src="/mainpic.png" class="relative w-full z-[-1]" />
        <p class="absolute bottom-[-2%] right-[-23%] animate-slide-in-right">HIROSHIMA KENJINKAI</p>
      </div>

      <div
        class="flex flex-col justify-center items-center text-5xl md:text-7xl font-[Jaro] w-[95%] text-[#E93A3A] text-center mt-2 xl:hidden"
      >
        <p>Univ.of TSUKUBA</p>
        <img src="/mainpic.png" class="w-[85%]" />
        <p>HIROSHIMA</p>
        <p>KENJINKAI</p>
      </div>
    </div>

    <IndexContentCard title={'ABOUT'}>
      <img
        src="/chibiCharaMomiji.png"
        class="absolute
      md:top-5 md:right-55 md:translate-x-full md:-translate-y-full md:w-1/8
      -top-20 right-10 w-1/4"
      />
      <div class="hidden md:w-2/5 md:block">
        <img src="/about_image_noon.jpg" class="object-contain h-auto w-full mb-8" />
      </div>

      <div class="md:hidden w-full mb-8">
        <img src="/about_image_noon.jpg" class="object-contain h-auto w-full" />
      </div>

      <div
        class="flex-col text-white tracking-wider w-full md:w-3/5 mx-0 my-0 text-sm md:text-xl md:leading-loose md:mx-12 md:my-8"
      >
        <p>筑波大学広島県人会は、50年の歴史があり、広島出身の学生を中心に活動している公式サークルです。</p>
        <p class="hidden md:block">主な活動は、雙峰祭、やどかり祭でお好み焼きを焼くこと！</p>
        <p class="hidden md:block">
          その他、有志でカープ観戦に行くなど、学類や学年を超えてアットホームな雰囲気で交流しています！
        </p>
        <p>広島出身者はもちろん、カープが好きな人、広島に興味がある人も大歓迎です！</p>

        <div class="items-end">
          <div class="items-end">
            <a href="/about" class="underline md:no-underline md:hover:underline">
              <p class="font-[Jaro] text-right text-4xl my-4">MORE…→</p>
            </a>
          </div>
        </div>
      </div>
    </IndexContentCard>

    <IndexContentCard title={'GOODS'}>
      <img src="/chibiCharaLemon.png" class="absolute top-0 left-1/6 -translate-y-1/2 md:w-1/4 h-auto z-10 w-1/2" />
      <GoodsCarousel client:only="react" />
    </IndexContentCard>

    <IndexContentCard title={'50thPAGE'}>
      <div class="md:flex md:flex-row md:justify-center md:gap-12">
        <img src="/poster.png" class="w-full pb-4 md:w-1/3 object-contain md:pb-12" />

        <div class="text-white text-sm md:w-1/2 md:pt-12 md:text-xl md:leading-loose">
          <p>
            筑波大学広島県人会の50周年を記念してパーティーを開催予定です！
            <br />
            詳細はMORE...からご覧ください！
          </p>

          <a href="/supecial" class="block underline md:no-underline md:hover:underline text-white mt-4">
            <p class="font-[Jaro] mb-4 text-right text-4xl">MORE…→</p>
          </a>
        </div>
      </div>
    </IndexContentCard>
  </div>
</Layout>
