---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
---
<Layout>
    <div class = "flex justify-center">
        <img src = "/mainpic.png" class = "w-[60%]"> 
 </div>
</Layout>

