---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
---

<Layout>
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center">
      <img src="/mainpic.png" class="w-[90%]" />
    </div>

    <div class="w-[80%] flex flex-col items-center justify-center bg-[#E93A3A] mt-4 rounded-4xl">
      <h2 class="my-12 font-[Jaro] justify-center text-7xl text-white tracking-wider">ABOUT</h2>
      <div class="flex w-full px-16 ">

        <div class = "flex w-2/5  ">
         <img src="/test.png" class=" object-contain h-auto w-full mb-8 " />
        </div>

        <div class="flex flex-col text-white text-xl mx-12 my-8 tracking-wider  leading-loose w-3/5">
          <p>国境の長いトンネルを抜けると雪国であった。夜の底が白くなった。信号所に汽車が止まった。</p>
          <p>向側の座席から娘が立って来て、島村の前のガラス窓を落した。雪の冷気が流れこんだ。娘は窓いっぱいに乗り出して、遠くへ呼ぶように、</p>
          <p>「駅長さあん、駅長さあん」</p>
          <p>明りをさげてゆっくり雪を踏んで来た男は、襟巻で鼻の上まで包み、耳に帽子の毛皮を垂れていた。</p>
        
          <div class = "items-end">
            <h3 class="font-[Jaro] text-right text-4xl ">MORE…→</h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</Layout>
