---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
const pagetitle = '筑波大学広島県人会'
---

<Layout pagetitle={pagetitle}>
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center flex-col items-center">
      <img src="/mainpic.png" class="w-[85%] hidden md:block" />

      <p class="w-[85%] md:hidden font-[Jaro] text-5xl text-[#E93A3A] text-center">TSUKUBA UNI</p>
      <img src="/mobile_mainpic.png" class="w-[85%] md:hidden" />
      <p class="w-[85%] md:hidden font-[Jaro] text-5xl text-[#E93A3A] text-center">HIROSHIMA</p>
      <p class="w-[85%] md:hidden font-[Jaro] text-5xl text-[#E93A3A] text-center">KENZINKAI</p>
    </div>

    <div class="w-[80%] flex flex-col items-center justify-center bg-[#E93A3A] mt-4 rounded-4xl">
      <h2 class="md : font-[Jaro] justify-center text-white text-4xl md:tracking-wider md:my-12 md:text-7xl">ABOUT</h2>

      <div class="flex flex-col md:flex-row w-full px-16">
        <div class="hidden md:w-2/5 md:block">
          <img src="/about_image_noon.jpg" class="object-contain h-auto w-full mb-8" />
        </div>
        <div class="md:hidden w-full mb-8">
          <img src="/about_image_noon.jpg" class="object-contain h-auto w-full" />
        </div>

        <div
          class="flex-col text-white tracking-wider w-full md:w-3/5 mx-0 my-0 text-sm md:text-xl md:leading-loose md:mx-12 md:my-8"
        >
          <p>筑波大学広島県人会は、50年の歴史があり、広島出身の学生を中心に活動している公式サークルです。</p>
          <p>主な活動は、やどかり祭や雙峰祭で広島のお好み焼きを販売すること！</p>
          <p>みんなで力を合わせてお好み焼きを焼き、その後の打ち上げで盛り上がるのは最高の思い出になります。</p>
          <p>その他にも、有志でカープ観戦に行くなど、学年や学類を越えてアットホームな雰囲気で交流しています。</p>
          <p>広島出身者はもちろん、カープが好きな人、広島に興味がある人も大歓迎です！</p>

          <div class="items-end">
            <h3 class="font-[Jaro] text-right text-4xl">MORE…→</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
