---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
const pagetitle = '50th supecial'
---

<Layout pagetitle={pagetitle}>
  <div class="min-h-screen bg-white font-zenmaru">
    <div class="max-w-7xl mx-auto py-8 px-4 ">

     <header class="relative w-[95%] flex justify-center items-center my-8 mx-auto">
        <img src="/50th.png" alt="50th PAGE"   class=" h-auto max-w-[90%] mx-auto" />
      </header>

      <section class="mb-20">
        <div class="relative">
          <div class="absolute inset-x-0 -top-12 px-4"> 
            <p class="text-4xl font-bold text-stroke-red pb-2 md:text-5xl md:pb-4"> 
              1. 
              <span class="text-xl font-zenmaru ml-2 md:text-2xl">記念祝賀パーティー（準備中）</span>
            </p>
          </div>

            <div class="bg-[#E93A3A] text-white p-6 rounded-4xl shadow-xl mt-8"> 
              <div class="pt-6 leading-relaxed text-lg">
                <p class="mb-4">
                  県人会発足50周年を祝うパーティーを開催予定です！
                  現役会員だけではなく、これまで会を支えてくださったOB・OGの皆様をお招きし、青春時代の思い出を語り合いながら、世代を超えた交流を深める場を提供したいと考えています。
                </p>
                <p>
                  日程や会場などの詳細は決まり次第、本ホームページやSNSでご案内いたしますので、ぜひ楽しみにお待ちください。
                </p>
              </div>
            </div>
          </div>
        </section>
    </div>
  </div>
</Layout>