---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
const pagetitle = '50th supecial'
---

<Layout pagetitle={pagetitle}>
  <div class="min-h-screen bg-white font-zenmaru">
    <div class="max-w-7xl mx-auto py-8 px-4">
      <header class="relative w-[95%] flex justify-center items-center my-8 mx-auto">
        <img src="/50th.png" alt="50th PAGE" class="h-auto max-w-[90%] mx-auto" />
      </header>

      <div class="relative">
        <div class="absolute
        md:inset-x-0 md:-top-20
        inset-x-0 -top-5 px-4">
          <p class="font-jaro text-stroke-red
          md:pb-2 md:max-w-7xl md:text-8xl
          text-3xl">
            1.
            <span class="font-zenmaru
            md:text-4xl md:ml-2 text-2xl">記念祝賀パーティー</span>
          </p>
        </div>

        <div class="bg-[#E93A3A] text-white flex flex-col rounded-4xl shadow-xl  md:flex-row md:gap-12 p-6 md:px-16 py-12">
          <div class="leading-relaxed text-lg ">
            <p class="mb-4 md:mt-12">
              県人会発足50周年を祝うパーティーを開催予定です！
              現役会員だけではなく、これまで会を支えてくださったOB・OGの皆様をお招きし、青春時代の思い出を語り合いながら、世代を超えた交流を深める場を提供したいと考えています。
              <br />
              ポスターのQRコード、もしくは
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSd7LMwSt8ddfqmsITqze5BYdOk1jA_nSJknT8vSeqn7ndLzZQ/viewform"
                class="font-bold underline transition-opacity duration-300 hover:opacity-70"
              >
                こちら</a
              >
              から申し込みできますので、ぜひご参加ください!
            </p>
            <p class="mt-4">【開催概要】</p>
            <p class="md:ml-4">日時：2026年3月21日(土) 17:00〜</p>
            <p class="md:ml-4">会場：ホテルグランド東雲（つくば市）</p>
            <p class="md:ml-4">参加費：現役会員 8000円 OB,OG 15000円</p>
          </div>
          <img src="/poster.png" class="py-4 md:w-2/3 " />
        </div>
      </div>

      <div class="relative mt-20">
        <div class="absolute
        md:inset-x-0 md:-top-20
        inset-x-0 -top-5 px-4">
          <p class="font-jaro text-stroke-red
          md:pb-2 md:max-w-7xl md:text-8xl
          text-3xl">
            2.
            <span class="font-zenmaru
            md:text-4xl md:ml-2 text-2xl">半世紀をつなぐ記念誌（準備中）</span>
          </p>
        </div>

        <div class="bg-[#E93A3A] text-white p-6 rounded-4xl shadow-xl mt-8">
          <div class="leading-relaxed text-lg p-4 pt-8 md:p-12">
            <p class="mb-4">
              50年という節目を迎えるにあたり、県人会の歩みをぎゅっとまとめた「記念誌」を現在制作中です。<br />
              これまでの活動や出来事を一冊にまとめることで、異なる世代での活動を知り、歴史を共有できる貴重な機会となるはずです。
            </p>
            <p>世代を超えてつながる県人会の「半世紀の物語」を、ぜひ一緒にご覧ください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
