---
import Layout from '../../layouts/NewsLayout.astro'
import '../../styles/global.css'
import PageCard from '../../components/news/pageCard.astro'
const pagetitle = 'ニュース'
---

<Layout pagetitle={pagetitle}>s
    <p class="font-jaro text-6xl text-[#E93A3A] mb-8 md:text-8xl">NEWS</p>
    <PageCard />
</Layout>
