---
import Layout from '../../layouts/Layout.astro'
import '../../styles/global.css'
import PageCard from '../../components/news/pageCard.astro'
const pagetitle = 'ニュース'
---

<Layout pagetitle={pagetitle}>
  <main class="max-w-7xl mx-auto px-6 py-12"></>
     <p class="w-[95%] font-jaro text-6xl text-[#E93A3A] mb-8 md:text-8xl">NEWS</p>
      <PageCard />
  </main>
 
</Layout>
