---
import { Icon } from 'astro-icon/components'
const { title, link, name } = Astro.props
---

<div
  class="bg-gray-200 rounded-lg shadow-md h-64 flex flex-col items-center justify-center p-4 hover:bg-gray-300 transition"
>
  <Icon name={name} class="w-10 h-10 text-red-600 mb-2" />
  <h2 class="text-xl font-bold text-gray-700">{title}</h2>
  {
    link ? (
      <a href={link} class="mt-2 text-red-600 text-center hover:underline">
        {link}
      </a>
    ) : (
      <a href="mailto:kenjinkai.hiroshima@gmail.com" class="mt-2 text-red-600 text-center hover:underline">
        kenjinkai.hiroshima@gmail.com
      </a>
    )
  }
</div>
