---

---

<footer class="bg-[#E93A3A] text-white p-8 mt-48">
  <nav class="flex flex-col items-center">
    <div class="items-left w-[80%]">
      <ul class="space-y-4 text-center text-xl font-bold uppercase text-left font-jaro">
        <li><a href="/" class="hover:underline text-4xl">TOP</a></li>
        <li><a href="/about" class="hover:underline text-4xl">ABOUT</a></li>
        <li><a href="/goods" class="hover:underline text-4xl">GOODS</a></li>
        <li><a href="/supecial" class="hover:underline text-4xl">50th PAGE</a></li>
        <li><a href="/contact" class="hover:underline text-4xl">CONTACT</a></li>
        <li><a href="/news" class="hover:underline text-4xl">NEWS</a></li>
      </ul>
    </div>
    <a href="/" class="mt-8 text-4xl text-center font-jaro">HIROSHIMA KENJINKAI</a>
    <p class="tracking-wider font-zenmaru text-sm text-center">© 筑波大学広島県人会ホームページ作成班</p>
  </nav>
</footer>
