---

---

<footer class="bg-[#E93A3A] text-white p-8 mt-48">
  <nav class="flex flex-col items-center">
    <div class="items-left w-[80%]">
      <ul class="space-y-4 text-center text-xl font-bold uppercase text-left">
        <li><a href="/" class="hover:underline font-[Jaro] text-4xl">TOP</a></li>
        <li><a href="/about" class="hover:underline font-[Jaro] text-4xl">ABOUT</a></li>
        <li><a href="/goods" class="hover:underline font-[Jaro] text-4xl">GOODS</a></li>
        <li><a href="/supecial" class="hover:underline font-[Jaro] text-4xl">50th PAGE</a></li>
        <li><a href="/contact" class="hover:underline font-[Jaro] text-4xl">CONTACT</a></li>
      </ul>
    </div>
    <a href="/" class="mt-8 tracking-wider font-[Jaro] text-3xl text-center">HIROSHIMA KENJINKAI</a>
  </nav>
</footer>
