---
import '../styles/global.css'
---
  
<div class="hamburger pr-5 cursor-pointer">
  <span class="line block w-10 h-1.5 mb-2 bg-[#E93A3A]"></span>
  <span class="line block w-10 h-1.5 mb-2 bg-[#E93A3A]"></span>
  <span class="line block w-10 h-1.5 bg-[#E93A3A]"></span>
</div>