---
import '../styles/global.css'
import HeaderButton from '../components/HeaderButton.astro'
---

<div class="flex gap-4 hidden md:block">
  <HeaderButton buttonname="ABOUT" link="/about" />
  <HeaderButton buttonname="GOODS" />
  <HeaderButton buttonname="50th PAGE" />
  <HeaderButton buttonname="CONTACT" link="/contact" />
</div>
