---
import '../styles/global.css'
import HeaderButton from '../components/HeaderButton.astro'
import Hamburger from './Hamburger.astro'
---

<div class="flex gap-4 hidden md:block">
  <HeaderButton buttonname="ABOUT" link="/about" />
  <HeaderButton buttonname="GOODS" link="/goods" />
  <HeaderButton buttonname="50th PAGE" link="/supecial" />
  <HeaderButton buttonname="CONTACT" link="/contact" />
</div>
<Hamburger />
