---
import  './src/styles/global.css';
import HeaderButton from '../components/HeaderButton.astro';
---

<div class="flex gap-4">
  <HeaderButton  buttonname= "ABOUT"></HeaderButton>
  <HeaderButton  buttonname = "GOODS"></HeaderButton>
  <HeaderButton  buttonname= "50th PAGE" ></HeaderButton>
  <HeaderButton buttonname = "CONTACT"></HeaderButton>
</div>

