---
import '../styles/global.css'
const { buttonname, link } = Astro.props
---

<a href={link} class="inline-block">
  <button
    class="font-[Jaro] text-2xl text-[#E93A3A]
  bg-white relative rounded-xl px-2
  hover:text-white hover:bg-[#E93A3A] hover:text-white
  after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:w-[75%] after:h-[6px] after:bg-[#E93A3A] after:translate-x-[-50%]"
  >
    <div class="px-2 py-1">
      {buttonname}
    </div>
  </button>
</a>
