---
import '../styles/global.css'
const { title } = Astro.props
---

<div class="w-[80%] flex flex-col items-center justify-center bg-[#E93A3A] mt-4 rounded-4xl">
  <p class="md : font-[Jaro] justify-center text-white text-4xl md:tracking-wider md:my-12 md:text-7xl">{title}</p>

  <div class="flex md:flex-row w-full px-16">
    <slot />
  </div>
</div>
