---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
const { pagetitle } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://shimaena.ga/arc.png" />
    <meta property="og:image" content="https://shimaena.ga/arc.png" />
    <meta property="og:image:width" content="1281" />
    <meta property="og:image:height" content="721" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="後で県人会の" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="twitter:title" content={pagetitle} />
    <meta property="og:title" content={pagetitle} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="google-adsense-account" content="ca-pub-7867559315282562" />

    <title>{pagetitle}</title>
  </head>

  <body class="bg-white">
    <div class="flex justify-end px-4 pt-2">
      <Header />
    </div>
    <slot />
     <div>
      <Footer />
    </div>
  </body>
</html>
