---
import Layout from './Layout.astro'

const { pagetitle = 'ニュース', description } = Astro.props
---

<Layout pagetitle={pagetitle} description={description}>
 <main class="max-w-7xl mx-auto px-6 py-12">
      <slot />
</main>
</Layout>
