---
import Layout from './Layout.astro'

const { frontmatter} = Astro.props
---

<Layout pagetitle={frontmatter.title} description={frontmatter.description}>
  <main class="max-w-7xl mx-auto px-6 prose">
     <p class="font-jaro text-6xl text-[#E93A3A] mb-8 md:text-8xl">NEWS</p>
     
    <div class ="border border-[#E93A3A] border-4 rounded-2xl px-20 font-zenmaru text-gray-700">
        <p class = "text-4xl font-bold mb-4">{frontmatter.title}</p>
        <p class = "mb-12">{frontmatter.pubDate}</p>   
      <slot />
    </div>
  </main>
</Layout>
